@CHARSET "ISO-8859-1";

.test {
	width: 130px !Important;
	height: 187px;
}

<!--
Quantity-->sp-quantity {
	width: 124px;
	height: 42px;
	font-family: "ProximaNova Bold", Helvetica, Arial;
}

.sp-minus {
	width: 40px;
	height: 40px;
	border: 1px solid #e1e1e1;
	float: left;
	text-align: center;
}

.sp-input {
	width: 40px;
	height: 40px;
	border: 1px solid #e1e1e1;
	float: left;
}

.sp-plus {
	width: 40px;
	height: 40px;
	border: 1px solid #e1e1e1;
	border-left: 0px solid #e1e1e1;
	float: left;
	text-align: center;
}

.sp-input input {
	width: 30px;
	height: 34px;
	text-align: center;
	font-family: "ProximaNova Bold", Helvetica, Arial;
	border: none;
}

.sp-input input:focus {
	border: 1px solid #e1e1e1;
	border: none;
}

.sp-minus a, .sp-plus a {
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 5px;
}

.padding-infor-title {
	padding-left: 0px;
	padding-bottom: 9px;
}

.margin-button {
	margin-left: 433px;
}

.user_info input, select, textarea {
	height: 35px;
}

.color-required {
	color: red;
}

label.radio-block span {
	display: block !important;
}

.col-sm-10.padding-infor-title select {
	margin-top: -9px;
}

label.col-sm-3.padding-infor-title.margin-top {
	margin-top: 20px;
}

.test1 {
	margin-left: 850px !important;
}

.color-text {
	color: black !important;
}

.background-test {
	background: rgba(253, 250, 250, 0.6)!important;
}

input.title-paypal {
    margin-left: 380px;
}

.title-order{
	text-align: left !important;
}
.icon-test {
	margin-top: 15px;
}
.test2 {
	margin-top: 17px;
	margin-left: 7px;
}
.img-responsive {
   height: 100%;
}
.img-size {
	height: 440px;
}
.test3{
	height: 260px;
}
.img-test {
    height: 566px;
}
.test4{
   height: 400px;
}
.img-test4 {
	height: 555px;
}
.test5 {
	height: 383px;
}
.test6{
	    height: 100px;
    width: 72px;
}
.img-test8{
	height: 640px;

}
.test8 {
	height: 452px;
}

.color-text1 {
	color: #f70303 !important;
}

.error {
	color: #f70303 !important;
}

#email.errors {
	color: #f70303 !important;
}
.messageUpdate{
	color: blue;
    padding-left: 22px;
    font-size: 21px;
}